 <div class="container mt-4" id="contenido">
   <div class="row">
     <div class="col-md-12 mt-1">
       <div class="row">
         <div class="col-md-5 imgCurso" id="imgCurso">
         </div>
         <div class="col-md-7">
           <div class="row">
             <div class="col-md-6 py-4 programa">
               <div class="row">
                 <div class="col-md-12">
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-12 bg-primary text-light text-uppercase py-3 font-weight-bold multinivel inicial"
                   *ngIf="programa">
                   {{programa.nombre}}
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-12">
                 </div>
               </div>
             </div>
             <div class="col-md-6 py-4 clasificacion">
               <div class="row">
                 <div class="col-md-12">
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-6 py-3 text-primary pl-5 multinivel clase">
                   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bar-chart-fill" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                     <rect width="4" height="5" x="1" y="10" rx="1" />
                     <rect width="4" height="9" x="6" y="6" rx="1" />
                     <rect width="4" height="14" x="11" y="1" rx="1" />
                   </svg>
                   <span class="pt-1 descripcion"> Multi-nivel</span>
                 </div>
                 <div class="col-md-6 py-3 text-primary duracion">
                   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd"
                       d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z" />
                     <path fill-rule="evenodd"
                       d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                   </svg>
                   <span class="pt-1 ml-1 descripcion text-primary">20 horas</span>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-12">
                 </div>
               </div>
             </div>
           </div>
           <div class="row pl-4 cursos">
             <div class="col-md-12 text-primary programa">
               <span class="subtitulo pb-1 px-3">
                 Programa
               </span>
             </div>
           </div>
           <div class="row pl-4 cursos">
             <div class="col-md-12 mt-3" *ngFor="let leccion of programa.leccion; let i = index">
               <span class="w-100 d-inline-block">
                 <mat-accordion>
                   <!-- #docregion basic-panel -->
                   <!-- #docregion hide-toggle -->
                   <mat-expansion-panel hideToggle>
                     <!-- #enddocregion hide-toggle -->
                     <p>This is the primary content of the panel.</p>
                   </mat-expansion-panel>
                   <!-- #enddocregion basic-panel -->
                   <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)">
                     <mat-expansion-panel-header>
                       <mat-panel-title>
                         {{leccion.leccion}}
                       </mat-panel-title>
                     </mat-expansion-panel-header>
                     <div class="row py-2" *ngFor="let curso of leccion.curso">
                       <div class="col-sm-12 col-md-11 reproducido">
                         <div class="row">
                           <div class="cursoPlay col-sm-1 col-md-1 text-right">
                             <span class="playCurso bg-primary p-2">
                               <svg width="1em" height="1em" viewBox="0 0 16 16" style="font-size: 2em;"
                                 class="bi bi-play text-light" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                 <path fill-rule="evenodd"
                                   d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z" />
                               </svg>
                             </span>
                           </div>
                           <div class="cursoNombre col-md-11">
                             <div class="row">
                               <div class="col-md-12 font-weight-bold"><span class="ml-2">{{curso.nombre}}</span></div>
                             </div>
                             <div class="row">
                               <div class="col-md-12">
                                 <div class="row">
                                   <div class="col-md-12 text-primary font-weight-bold py-1" style="font-size: 0.75em;">
                                     <span class="d-inline-block ml-2 mr-2">{{curso.duracion}} mins</span>
                                     <span class="bg-primary playCurso status text-light px-4 py-0"
                                       *ngIf="curso.status=='reproducido'">
                                       {{curso.status}}
                                     </span>
                                   </div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>
                     </div>
                   </mat-expansion-panel>
                 </mat-accordion>
               </span>
               <span class="visto">
                 <svg width="1em" height="1em" style="font-size: 1.25em;" viewBox="0 0 16 16"
                   class="bi bi-check-circle-fill text-primary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                   <path fill-rule="evenodd"
                     d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                 </svg>
               </span>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
